*{
    margin: 0;
    padding: 0;
}
.text-danger{
    color: #F50038!important;
}
.bgc-3d9 p{
    background-color: #3d9be999;
    padding: 12px 25px;
}

.message{
    width: 70px;
    position: fixed;
    right: 3%;
    bottom: 5%;
    z-index: 30;
}
.message img{
    width: 100%;
}

header{
    position: relative;
}
.wrap{
    width: 100%;
    height: 99.5vh;
    position: relative;
}
.top-tape{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.1);
    z-index: 1;
}
.nav-link{
    padding: 15px 0;
}
header ul{
    align-items: center;
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    margin: 0 auto;
}
header ul li{
    transform: scale(0.8);
}
header ul li:nth-child(n+3):hover a{
    color: rgb(8, 179, 170)!important;
}

.carousel-item img{
    height: 100%;
    width: 100%;
}
.carousel-indicators{
    padding-bottom: 10px;
    z-index: 4;
}
.carousel-indicators [data-bs-target]{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}
.carousel-inner .carousel-item:nth-child(odd) .middle-txt p{
    background-color: #3d9be999;
}
.carousel-caption{
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 20%;
    width: 70%;
}
.carousel-caption .middle-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-caption .middle-txt h2{
    display: block;
    font-size: 3rem;
}
.carousel-caption .middle-txt p{
    display: block;
    width: 30%;
}
.carousel-caption .bottom-txt{
    display: flex;
    justify-content: space-evenly;
}
.carousel-caption .bottom-txt a{
    text-decoration: none;
    color:white;
}
.carousel-caption .bottom-txt a:hover p{
    background-color: #2e74ad99;
}


section .container:first-child .row{
    width: 100%;
    height: 70vh;
    margin: 5px;
}
section .container:first-child .rev{
    flex-direction: row-reverse;
}
section .container:first-child .row .card-body{
    text-align: center;
}
section .container:first-child .row:first-child .card-body:last-child{
    text-align: left;
}
section .container:first-child .row .col-4:last-child .card-body p{
    text-align: justify;
}
section .container:first-child .row:first-child .card-body:first-child img{
    width: 40%;
}
section .container:first-child .row .card-body:first-child img{
    width: 30%;
}
section .container:first-child .row .col-4{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


section .container-fluid:nth-child(even){
    background-image: url(./img/5b7e139d046c40c1a1acde7162607721\ \(2\).webp);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 18vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .container-fluid:nth-child(even)::before{
    content: "";
    background-color: rgba(4, 81, 132, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
}
section .container-fluid:nth-child(even)::after{
    content: "18 - 24週的實作及作品開發 - 從訓練、就業、到企業連結";
    color: #fff;
    position: absolute;
    font-size: 25px;
}

section .container-fluid:nth-of-type(4){
    height: 25vh;
}
section .container-fluid:nth-of-type(4):after{
    content: "在課程及作品實作中，將採用這些工具 - 熟悉實務上軟體開發團隊的運作、分工及真實專案的流程";
    color: #fff;
    position: absolute;
    font-size: 25px;
}

section .container-fluid:nth-of-type(6){
    height: 20vh;
}
section .container-fluid:nth-of-type(6):after{
    content: "我們的講師及企業導師擁有在這些公司的工作經歷、擔任主管或資深工程師";
    color: #fff;
    position: absolute;
    font-size: 25px;
}
section .container-fluid:nth-child(3) .card-body{
    text-align: center;
}
section .container-fluid:nth-child(3) img{
    width: 50%;
}
section .container-fluid:nth-child(5) .card-body{
    text-align: center;
}
section .container-fluid:nth-child(5) img{
    width: auto;
}

section .container:nth-child(7) img{
    width: auto;
    transform: scale(0.9);
}

footer{
    background-color: #eee;
}
footer::before{
    content: "";
    width: 100%;
    height: 5px;
    background-color: #555;
    display: block;
}